# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Extended configuration for N8N.
# ----------------------------------------------------------------
# $ make run-host
# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

name: xui

services:
  xui:
    image: crasivo/xui:rootless
    build:
      context: ../
      dockerfile: docker/images/xui/Dockerfile.alpine-rootless
      args:
        - "XRAY_GID=1000" # id -g
        - "XRAY_UID=1000" # id -u
        - "XUI_RELEASE=latest"
    container_name: xui
    restart: always
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G
    hostname: xui
    network_mode: host
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    volumes:
      - xui_data:/etc/x-ui:cached

volumes:
  xui_data:
